<!DOCTYPE html>
<html>
    <head>
		<link rel="icon" href="content/img/logo_sm.jpg">
		<title>Woodline</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="format-detection" content="telephone=no">
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="styles.css">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="styles.css">
	</head>

    <body>
		<section id="app">
			<header class="header">
				<nav class="header__top">
					<div class="container">
						<div class="header__find-author">woodline studio</div>
						<a href="#" title="Home" class="header-logo header-logo__icon ">
						</a>
					</div>
				</nav>

				<nav class="header__bottom">
					<div class="container">
						<ul class="header-menu">
							<li class="header-menu__item">
								<a href="#" class="header-menu__link icon-home">
									<svg role="img" class="header-menu__home">
										<use xlink:href="/content/svg/symbol.svg#icon-home_new" xmlns:xlink="http://www.w3.org/1999/xlink" ></use>
									</svg>
								</a>
							</li>
							<li class="header-menu__item"><a href="#" class="header-menu__link">Products</a></li>
							<li class="header-menu__item"><a href="#" class="header-menu__link">About</a></li>
						</ul>
						<a data-toggle="collapse" href="#mobile-menu" role="button" aria-expanded="true" aria-controls="mobile-menu" class="header-m-menu">
							<svg role="img" title="Home" class="header-m-menu__icon">
								<use xlink:href="/content/svg/symbol.svg#icon-mobile-menu" />
							</svg>
						</a>
						<a href="#" :class="{'btn--colored': isSelectedAuthors, 'btn--transparent' : !isSelectedAuthors }" class="header__button btn">
							Request
							<b class="btn__counter">{{countSelectedAuthors}}</b>
						</a>

					</div>
				</nav>
				<nav id="mobile-menu" class="mobile-menu" style="display: none;">
					<ul class="mobile-menu__items js-accordion">
						<li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Products</a></li>
						<li class="mobile-menu__item"><a href="#"  class="mobile-menu__link">About</a></li>
						<li class="mobile-menu__item">
							<a href="#" :class="{'mobile-menu__authors--empty' : !isSelectedAuthors}" class="mobile-menu__link mobile-menu__authors">
								Request
								<b class="btn__counter">{{countSelectedAuthors}}</b>
							</a>
						</li>
					</ul>
				</nav>
			</header>
			<main class="page">
				<section class="search-panel">
					<section class="search-panel__top">
						<div class="container">
							<find-item 
								v-bind:searchtext="searchFieldValue"
								@dosearch ="doSearch">
							</find-item>
							<nav class="search-panel__sort">
								<p class="search-panel__label">Sort by</p>
								<ul class="search-panel__options panel-options">
									<sort-item
										v-for="item in sortOptions"
										v-bind:name="item"
										v-bind:key="item"
										@select="selectSortType"
										v-bind:selected-item="selectedSortItem">
									</sort-item>
								</ul>
							</nav>
						</div>
					</section>
					<section class="search-panel__bottom">
						<div class="container">
							<div class="search-panel__label search-panel__label--wide">Select</div>
							<ul class="search-panel__tags panel-tags">
								<filter-item
									v-for="filter in filterOptions"
									v-bind:key="filter.id"
									v-bind:value="filter.value"
									v-bind:id="filter.id"
									v-bind:selectedfilter="selectedFilterOptions"
									@select="selectFilters">
								</filter-item>
							</ul>
						</div>
					</section>
				</section>
				
				<div style="position: relative;">
					<author-info-list 
						@change="changedSelectedAuthors" 
						:imageurl="imageUrl" 
						:sortby="selectedSortItem" 
						:searchvalue="searchFieldValue" 
						:selectedfilter="selectedFilterOptions" >
					</author-info-list>
				</div>
				<script type="text/x-template" id="author-list-template">
					<section class="container is-loading__element">
						<author v-for="author in orderedAuthors" 
							v-bind:id="author.id" 
							v-bind:name="author.name"
							v-bind:city="author.city"
							v-bind:description="author.description"
							v-bind:phoneNumber="author.phoneNumber"
							v-bind:email="author.email"
							v-bind:toDofilters="author.toDofilters"
							v-bind:photoUrl="author.photoUrl"
							v-bind:key="author.id"
							v-bind:selectedauthors="selectedAuthors"
							v-bind:filter="filter"
							@select="selectAuthor">
						</author>
					</section>
				</script>
				<script type="text/x-template" id="author-card-template">
					<section class="author-short">
						<div class="author-short__logo">
							<img :src="photoUrl" v-bind:alt="name" class="author-short__logo-img" />
						</div>
						<div class="author-short__info">
							<h2 class="author-short__name"><a href="#">{{name}}</a></h2>
							<p class="author-short__location">
								<svg role="img" title="Location" class="author-short__info-icon">
									<use xlink:href="/content/svg/symbol.svg#icon-mark" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
								</svg>
								{{city}}
							</p>
							<p class="author-short__phone">
								<svg role="img" title="Phone" class="author-short__info-icon">
									<use xlink:href="/content/svg/symbol.svg#icon-phone" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
								</svg>
								<a href="tel:${phoneNumber}">{{phoneNumber}}</a>
							</p>
							<p class="author-short__mail">
								<svg role="img" title="Mail" class="author-short__info-icon">
									<use xlink:href="/content/svg/symbol.svg#icon-mail" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
								</svg>
								<a href="mailto:${email}">{{email}}</a>
							</p>
							<p class="author-short__description">{{description}}</p>
							<ul class="author-short__labels tag-list">
								<li v-for="filter in toDofilters" class="tag-list__tag"> {{filter}}</li>
							</ul>
						</div> 
						<div class="author-short__actions">
							<button @click="select" :class="{'btn--colored btn--v author-short__button--selected' : isSelected }"  class="author-short__button btn ">
								Request
							</button>
							<ul class="author-short author-icons">
								<li class="author-icons__item">
									<svg role="img" title="" class="author-icons__icon">
										<use xlink:href="/content/svg/symbol.svg#icon-home2" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</li>
							</ul>
						</div>
					</section> 
				</script>
				<script type="text/x-template" id="sort_item_template">
					<li class="panel-options__item">
						<a href="#" @click="select" :class="{'panel-options__link--active': isSelected}" class="panel-options__link">{{name}}</a>
					</li>
				</script>
				<script type="text/x-template" id="filter_item_template">
					<li class="panel-tags__item"> <a href="#" @click="select" :class="{'btn--colored panel-tags__link--active': isSelected }"class="panel-tags__link btn btn--round">{{value}}</a></li>
				</script>
				<script type="text/x-template" id="find_item_template">
					<nav>
						<p class="search-panel__label search-panel__label--wide">Serch</p>
						<div class="search-panel__input-wrap">
							<input type="text" name="query" v-model="value" @change="dosearch" class="search-panel__input" placeholder="type shearch value">
							<button class="search-panel__search" @click="dosearch"></button>
						</div>
					</nav>
				</script>

			</main>
			<footer class="footer">
				<div class="container">
					<article class="footer__article">
						<h2 class="footer__header">You are welcome!</h2>
						<p class="footer__text">We are glad to be usefull for you.</p><a href="#" class="footer__link footer__link--more">Contact us</a>
					</article>
					<ul class="footer__list footer__list--wide">
						<li class="footer__list-item">
							<h2 class="footer__header">Overview</h2>
						</li>
							<li class="footer__list-item"><a href="#" class="footer__link">About</a></li>
							<li class="footer__list-item"><a href="#" class="footer__link">Contacts</a></li>
					</ul>

					<ul class="footer__list footer__list--narrow">
						<li class="footer__list-item">
							<h2 class="footer__header"></h2>
						</li>
					</ul>
					<small class="footer-copy">	© 2020. WoodLine studio. All Rights Reserved. </small>
				</div>
			</footer>
		</section>
        <!-- https://vuejs.org/v2/guide/list.html#key -->
        <script src="index.js"></script>
    </body>
</html>
